.card {
  display: flex;
  flex-direction: column;
  padding: 33px;
  gap: 40px;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.card:hover {
  background-color: rgba(40, 48, 54, 0.6);
  transform: translate(0, -20px);
}

.card:hover .card__gradient {
  display: flex;
}

.card:hover .card__button {
  background: #ff6e30;
  padding: 9px 35px;
  border-radius: 8px;
  color: #ffffff;
}

.card:hover .card__name {
  color: rgba(255, 255, 255, 0.9);
}

.card:hover .card__subtitle {
  color: #ffa537;
}

.card:hover .card__description {
  color: rgba(255, 255, 255, 0.78);
}

.card::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border-radius: 13px;
  z-index: 1;
}
