.input-box__button {
  background: #ff6e30;
  border-radius: 8px;
  padding: 12px 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
